<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>5th Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <h1>Save the Heifer</h1>
  <p>Aww, you're sweet. You have a good heart in you! A typical farmer would have gone with the other option, but because you're so nice we'll give you another shot.</p>
  <img src="https://www.offthemark.com/image/cache/data/cartoons/2008-04-12B-380x480.gif">
  <p>Since you're so nice would you like to feed our little bull Ferdinand perhaps?</p>
  <br>
   <p>Jenna was here!</p>
  <br>
  <ion-button (click)="goToPage('/page16')">Feed the Bull</ion-button>
</ion-content>
