<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Last Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium" class="ion-padding">
  <h1>Results</h1>
  <p>Not only did your crops die...everyone starved:).</p>
  <img class="imgSmall" src="https://thumbs.dreamstime.com/b/cartoon-farmer-character-dead-body-vector-illustration-cartoon-farmer-character-dead-body-vector-illustration-design-102546717.jpg">
  <br>
  
</ion-content>                
