<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>3rd Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary" class="ion-padding">
  <h1>Farmer Drip</h1>
  <p>Okayyy, you chose to go all out. Unfortunately, no one actually dresses like that. You'll get made fun of. For your sake, you're fired.</p>
  <p>Good luck on your future endeavors! You'll need it with a sense of style like yours. </p>
  <img class="image" src="https://banner2.cleanpng.com/20180422/gae/kisspng-stock-photography-farmer-clothing-costume-farmer-5adc5a76dd0104.4105332115243905189052.jpg">
</ion-content>
