<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Last Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary" class="ion-padding">
    <h1>Kept Medicore Job</h1>
    <p>You're boring. You lose.</p>
    <img src="https://static.vecteezy.com/system/resources/previews/009/674/065/non_2x/business-flat-drawing-stressed-businessman-showing-l-sign-on-forehead-with-finger-trendy-sad-male-office-worker-making-loser-symbol-by-gesturing-hand-over-head-cartoon-design-illustration-vector.jpg">

</ion-content>
