<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>6th Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary" class="ion-padding">
  <h1>Rely on rain</h1>
  <p>As expected, the little rainwater we received did not suffice the crops' need for water, so they all died.</p>
  <img class="imgSmall" src="https://media.istockphoto.com/id/1411476663/vector/vector-illustration-of-natural-disaster-cartoon-landscape-with-drought-on-the-farm-that.jpg?s=612x612&w=0&k=20&c=6IWUdxA7tAD9i4wqygso-gqvfFEeB-jvzfrMInpfyiY=">
  <p>...and I mean ALL died. Click below to see what I mean... </p>
  <ion-button (click)="goToPage('/page8')">See results</ion-button>
</ion-content>
